<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WB-L0 Заказы</title>
</head>
<body>
    <div class="body">
        <div class="wrapper">
            <form action="/form" class="form">
                <input type="text" name="uid" id="uid">
                <input type="submit" value="Отправить">
            </form>
            {{ if .order }}
            <pre id="json"></pre>
            {{ end }}
            {{ if .error }}
            <p class="error">{{ .error }}</p>
            {{ end }}
        </div>
    </div>

    <script>
        const obj = JSON.parse({{ .order }})
        document.getElementById("json").textContent = JSON.stringify(obj, undefined, 4);
    </script>

    <style>
        *{
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .error{
            color: rgb(239, 88, 88);
        }
        .body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .form{
            width: fit-content;
            margin: 0 auto;
            margin-top: 20px;
        }
        .wrapper{
            width: 50%;
        }

    </style>
</body>
</html>